# Introducción
SQL is used to communicate with a database. According to ANSI (American National Standards Institute), it is the standard language for relational database management systems. SQL statements are used to perform tasks such as update data on a database, or retrieve data from a database.

Libraries:
pyme,
sqlite,
re,
pandas

In [1]:
import sqlite3

MySQL necesita conexiones e instalaciones; el benchmark es el mejor de todos los "Queries". La ventaja de trabajar con sqlite, es que podemos crear pases de datos por default, mientras que en MySQL es necesario crear la base de datos.

**Vamos a crear una base de datos**

Nuestra base de datos consistirá de libros.

In [3]:
# Para crear la base de datos es necesario conectar con el servidor de SQL
con = sqlite3.connect("libros_db.sqlite")

Ahora vamos a diseñar nuestra **tabla**:

In [6]:
# creamos un cursor

cursor = con.cursor()

# aquí vamos a ejecutar los datos necesarios para crear la tabla

#crear columnas
cursor.execute("""
CREATE TABLE libros (
  id INTEGER PRIMARY KEY,
  titulo TEXT NOT NULL,
  autor TEXT NOT NULL,
  año INTEGER
  )
""") #TEXTOS NO NULOS SON STRINGS Y INTEGERS SON NUMEROS

In [7]:
libros_datos = [("Harry Potter", "J.K. Rowling", 1997),
                ("The Hobbit", "Tolkien", 1937),
                ("Better than the Movies", "Lynn Painter", 2021),
                ("La Sombra de Viento", "Carlos Ruiz Zafón", 2001)]

cursor.executemany("""
INSERT INTO libros (titulo, autor, año) VALUES (?, ?, ?)""", libros_datos) #Mete los datos a la tabla creada
con.commit()

In [8]:
cursor.execute("SELECT * FROM libros")
libros= cursor.fetchall() #retrieve los libros dentro de la tabla libros e imprimirlos
for libro in libros:
  print(libros)

[(1, 'Harry Potter', 'J.K. Rowling', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafón', 2001)]
[(1, 'Harry Potter', 'J.K. Rowling', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafón', 2001)]
[(1, 'Harry Potter', 'J.K. Rowling', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafón', 2001)]
[(1, 'Harry Potter', 'J.K. Rowling', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafón', 2001)]